<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">

    <http:listener-config name="retail-customer-onboarding-process-api-httpListenerConfig" host="0.0.0.0" port="${https.port}" doc:name="HTTP Listener Configuration" protocol="HTTPS">
        <tls:context>
            <tls:key-store type="jks" path="${keystore.location}" keyPassword="${key.password}" password="${keystore.password}"/>
        </tls:context>
    </http:listener-config>
    
    <apikit:config name="retail-customer-onboarding-process-api-config" raml="retail-customer-onboarding-process-api.raml" consoleEnabled="false" doc:name="Router"/>
    
    <http:request-config name="retail-customer-system-api" protocol="HTTPS" host="#[new URL('${customer-system-api.baseUrl}').getHost()]" port="#[new URL('${customer-system-api.baseUrl}').getPort()]" basePath="#[new URL('${customer-system-api.baseUrl}').getPath()]" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="retail-customer-system-api/system-api.raml"/>
    </http:request-config>
    
    <http:request-config name="notifications-system-api" protocol="HTTP" host="#[new URL('${notifications-system-api.baseUrl}').getHost()]" port="#[new URL('${notifications-system-api.baseUrl}').getPort()]" basePath="#[new URL('${notifications-system-api.baseUrl}').getPath()]" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="notifications-system-api/api.raml"/>
    </http:request-config>
    
    <context:property-placeholder location="common.properties,mule.${mule.env}.properties"/>
    
    <api-platform-gw:api id="${api.id}" apiName="${api.name}" version="${api.version}" flowRef="retail-customer-onboarding-process-api-main" doc:name="API Autodiscovery" create="true" />
    
</mule>
